# Python Programming: Data Structures and Classes

In the previous lecture notebook we quickly coverd all of the important
control structures available in Python, and how to define and use
functions in Python.

In this notebook we begin to look at some of the power of the high-level
language constructs Python provides by looking at some of the built-in
basic data types.  

We will also cover the basics of defining and using classes and objects and
doing object-oriented programming in the Python language.

# Strings

Strings are not like numerical values.  In Pythong, strings or the `str` type 
are first-class data types of the language, unlike some othre languages.
Strings are a fundamental type.

Strings are a type of **sequence**, which means it is an order collection
of values.  Basically a string is an order collection of characters in Python.

## A string is a sequence

You can access individual characters in the string sequence using an indexing
operator (all sequences in Python provide indexing and slicing operations, 
as we will discuss).  Indexing is 0-based in Python, the first element is found
at index 0.

In [ ]:
fruit = 'banana'

In [2]:
# first character is at index 0
fruit[0]

'b'

In [3]:
# character at index 2 is the 3rd character, an n
letter = fruit[2]
letter

'n'

You can use expressions that evaluate to an index to access characters of
a sequence like a string.

In [4]:
length = 6 # banana has 6 characters
last_char = fruit[length - 1]
last_char

'a'

In [5]:
mid = length // 2
mid_char = fruit[mid]
mid_char

'a'

## 'len'

`len()` is a built-in function that returns the number of characters in
a string (or in general, the number of items in any sequence container).

In [6]:
len(fruit)

6

To get the last letter of the string you might try this:

In [7]:
length = len(fruit) # get the length programatically instead of hard coding it

try:
    last_char = fruit[length]
except IndexError:
    print('IndexError because valid indexes are from 0 to 5, but length is 6')
    print('   which is an invalid index.')

IndexError because valid indexes are from 0 to 5, but length is 6
   which is an invalid index.

So to get the last character you actually need the character at `length - 1`
index.

In [8]:
last_char = fruit[length - 1]
last_char

'a'

## Traversal with a `for` loop

Another way to iterate in Python is with `for` loops.  But unlike some languages,
`for` loops are specifically designed to iterate over the items in a sequence.
Since the items in a string are characters, if you iterate over a string you will
get the individual characters of the string.

In [9]:
for letter in fruit:
    print(letter)

b
a
n
a
n
a

You can compare this to manipulating an explicit index variable `index` to access
the characters in a string.

In [10]:
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(index, letter)
    index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

It is considered bad style to use an index controlled loop like this to access
the elementes of a sequence.  If you need to have both the index number of the
item in the sequence, and the item, use the built-in `enumerate()` function,
which enumerates over the items of a sequence, returning the index and the item
as pairs, like this.

In [11]:
for index, letter in enumerate(fruit):
    print(index, letter)

0 b
1 a
2 n
3 a
4 n
5 a

## String slices

A segment of a string is called a slice.  

**ALERT**: understanding slicing is very important for this class.  We use slicing
of sequences in all kinds of contexts. 

You should learn all of the ways you can slice sequences, we will make heavy
use of slicing syntax in this class.  Many things we use in this class are
sequences, like lists, numpy arrays, pandas dataframes, etc.

In [12]:
s = 'Monty Python'

In [13]:
# slice from the beginning to the 5th index (up to by not including index 5)
s[0:5]

'Monty'

In [14]:
# if you omit the beginning index of a slice, 0 is assumed
s[:5]

'Monty'

In [15]:
# slice from the middle of a sequence to the end
s[6:12]

'Python'

In [16]:
# if  you omit the end index, all characters to the end are assumed
s[6:]

'Python'

In [17]:
# arbitrary slice of characters from index 3 up to (but not including)
# index 8 in the middle of the sequence
s[3:8]

'ty Py'

In [18]:
# given what we just demonstrated, what does the following mean?
s[:]

'Monty Python'

In [19]:
# you can provide a 3rd parameter for a slice, the step or skip
# get every even character of the string
s[::2]

'MnyPto'

In [20]:
# get every odd character starting at character 1
s[1::2]

'ot yhn'

In [21]:
# negative indexes are relative to the end of the sequence,
# get the last character
s[-1]

'n'

In [22]:
# get the last 2 characters
s[-2:]

'on'

In [23]:
# reverse the string, go from last to first character with a step of -1
s[::-1]

'nohtyP ytnoM'

## Strings are immutable

Strings are **immutable**.  This means you can't actually change
the characters of a string in place.   The other immutable data structure
we will use a lot is a **tuple**, which we will describe briefly later.

What does it mean that strings are immutable.  Well you can't do something 
like this:

In [24]:
greeting = 'Hello, world!'

try:
    greeting[0] = 'J'
except TypeError:
    print('TypeError is generated because it is illegal to try and change (mutate)')
    print('   the individual characters of a string sequence.')

TypeError is generated because it is illegal to try and change (mutate)
   the individual characters of a string sequence.

If you need to modify a string, the best you can do is create a new
string.

In [25]:
new_greeting = 'J' + greeting[1:]
new_greeting

'Jello, world!'

## Operations on strings

There are operations that can be done on strings, like operations on numeric
types.  In another language, we might say that operations `+` and `*` 
are "overloaded" for the string type in the Python language.

We just saw the operator `+` for strings.  Plus will concatenate strings.

In [26]:
# string concatenation
s = "Hello" + " " + "World!"
s

'Hello World!'

The `*` operator on strings defines a string repetition.  The amount of repetition
has to appear on the right hand side of the `*` operator.

In [27]:
# example of string repetition and concatenation together
x = 'Spam ' * 10 + "Spamity spam, spamity spam!"
x

'Spam Spam Spam Spam Spam Spam Spam Spam Spam Spam Spamity spam, spamity spam!'

## String methods

Although in many ways strings are fundamantal types in Python, it is more
correct to think of strings as instances of objects.

So an instance of a string has many member function that can be called to 
manipulate the string.  This is true of all of the rest of the high-level 
data types we will look at as well in the following sections.

We can use the built-in method `dir()` to list all of the string methods
available for a string.  Documentation of 
[Python string methods](https://docs.python.org/3/library/stdtypes.html#string-methods)
can be found at that link.

In [28]:
s = 'A string'
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

Just a few examples of string methods.

In [29]:
s.upper()

'A STRING'

In [30]:
s.find('s')

2

In [31]:
s.find('ing')

5

In [32]:
s.capitalize()

'A string'

In [33]:
s.split()

['A', 'string']

In [34]:
s = '  \t   This string has lots of space, before and after it   \t\t\n'
s.strip()

'This string has lots of space, before and after it'

## The `in` operator

The word `in` is a boolean operator that takes a value and a sequence
and returns `True` if the value appears as an item in the sequence.

For string types, `in` returns true if the value is a substring of the string.

In [35]:
'nana' in 'banana'

True

In [36]:
'seed' in 'apple'

False

In [37]:
'seed' in 'birdseed and apple sauce'

True

## String comparison

Besides the `+` and `*` operations, all of the boolean operations are
defined for strings.  The boolean operators will compare strings 
by alphabetical ordering.

In [38]:
'apple' < 'banana'

True

In [39]:
'grape' <= 'granite'

False

In [40]:
'apple' == 'orange'

False

In [41]:
'banana' == 'banana'

True

In [42]:
# but all upercase letters come before all lowercase letters, so you can be 
# surprised if you don't know this
'banana' < 'apple'

False

In [43]:
'Banana' < 'apple'

True

### Self-test Exercises

# Lists

## A list is a sequence

A list is also a sequence like a string.  However a list differs in two
fundamental ways.

1. A list is a sequence of arbitrary types/values, unlike a string which is a sequence
of characters.
2. A list is **mutable**, which means unlike a string you can modify the elements
of a list in place.

Lists look kind of like arrays if you are familiar with languages like
C or Java.  But they are really a much higher-level abstract data type
than a simple array.  It is best not to think of a list as a simple array.

- Arrays are homogeneous, they only hold values of a single type.  Python 
lists are nonhomogeneous, they can hold values of many different types.
- Arrays are fixed size, they cannot easily grow and shring.  Python lists
are dynamically resizable, they can grow and shrink as needed.

We create lists using the `[ ]` syntax.

In [44]:
# a list of integers
ivals = [10, 20, 30, 40]

# a list of strings
flavors = ['crunchy frog', 'ram bladder', 'lark vomit']

# but did we mention Python lists are nonhomogeneous
stuff = ['Gouda', 42, True, 4.2e-25, 2+3j, 'end of list']

A value in a list can even be another list (e.g. nested lists), which can
be very useful for building complex data structures at times.

In [45]:
l = ['spam', 2.0, 5, [10, 20, 30, 40]]
l

['spam', 2.0, 5, [10, 20, 30, 40]]

Lists are sequences, so all of the things we talked about you could do with a 
sequence like a string, you can do with a list.

In [46]:
# index and slice list
l[-1]

[10, 20, 30, 40]

In [47]:
l[1:3]

[2.0, 5]

In [48]:
# iterate over a list
for index, element in enumerate(stuff):
    print(index, element)

0 Gouda
1 42
2 True
3 4.2e-25
4 (2+3j)
5 end of list

## Lists are mutable

But lists are mutable, so we can change the items in a list.

In [49]:
cheeses = ['Cheddar', 'Edam', 'Gouda']

In [50]:
cheeses[0]

'Cheddar'

In [51]:
cheeses[0] = 'Danish Blue'
cheeses[-1] = 'Stilton'
cheeses

['Danish Blue', 'Edam', 'Stilton']

## Traversing a list

You should use the `for` loop construct to iterate over elements
of a Python list.  We showed one example above.  

When you iterate over a nested list, you only get the top level elements, e.g.
any nested lists will be extracted as a single element.  An exmaple should 
make this clearer

In [52]:
# l is  a nested list defined before
l

['spam', 2.0, 5, [10, 20, 30, 40]]

In [53]:
# if we iterate over l, the last element is the whole final list
for element in l:
    print(element)

spam
2.0
5
[10, 20, 30, 40]

In [54]:
# if you want to iterate over the nested elements, well...
for element in l:
    print(element)
    if type(element) == list:
        print("now displaying the individual elements of the nested list")
        for nested_element in element:
            print(nested_element)

spam
2.0
5
[10, 20, 30, 40]
now displaying the individual elements of the nested list
10
20
30
40

## List operations

`+` and `*` operators are also defined for list, and they do the same thing
as for strings.  `+` concatenates lists.

In [55]:
a = [1, 2, 3, 4]
b = [5, 6, 6, 8]

c = a + b
c

[1, 2, 3, 4, 5, 6, 6, 8]

And the `*` operator repeates a list

In [56]:
c = a * 4
c

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [57]:
# create a bag of 10 red, green and blue balls for an experiment
balls = ['red', 'green', 'blue']
bag_of_balls = balls * 10
bag_of_balls

['red',
 'green',
 'blue',
 'red',
 'green',
 'blue',
 'red',
 'green',
 'blue',
 'red',
 'green',
 'blue',
 'red',
 'green',
 'blue',
 'red',
 'green',
 'blue',
 'red',
 'green',
 'blue',
 'red',
 'green',
 'blue',
 'red',
 'green',
 'blue',
 'red',
 'green',
 'blue']

## List slices

As we already mentioned, lists are sequences and all sequences support
slicing syntax in Python.

In [58]:
t = ['a', 'b', 'c', 'd', 'e', 'f']

In [59]:
t[1:3]

['b', 'c']

In [60]:
t[:4]

['a', 'b', 'c', 'd']

In [61]:
t[3:]

['d', 'e', 'f']

In [62]:
t[::-1]

['f', 'e', 'd', 'c', 'b', 'a']

In [63]:
t[1:5:3]

['b', 'e']

## List methods

A Python list is an instance of an object.

[Common sequence operations](https://docs.python.org/3/library/stdtypes.html#common-sequence-operations)
you can perform on a list.
[Mutable sequence operations](https://docs.python.org/3/library/stdtypes.html#mutable-sequence-types)
you can perform on a list.

A list is a mutable sequence, so any common sequence operation can be performed
on lists, and any mutable sequence operations as well.

We can get a list of the methods available to a list using `dir()` built-int
method again.

In [64]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

Here are a few examples of using some of the methods you can perform on lists.

In [65]:
t.reverse()
t

['f', 'e', 'd', 'c', 'b', 'a']

In [66]:
unsorted = ['grape', 'banana', 'apple', 'orange', 'zuchini', 'strawberry', 'kiwi']
unsorted.sort()
unsorted

['apple', 'banana', 'grape', 'kiwi', 'orange', 'strawberry', 'zuchini']

In [67]:
unsorted.append('blueberry')
unsorted.append('rasberry')
unsorted

['apple',
 'banana',
 'grape',
 'kiwi',
 'orange',
 'strawberry',
 'zuchini',
 'blueberry',
 'rasberry']

In [68]:
unsorted.sort()
unsorted

['apple',
 'banana',
 'blueberry',
 'grape',
 'kiwi',
 'orange',
 'rasberry',
 'strawberry',
 'zuchini']

In [69]:
# using a list as a stack
stack = [] # initially empty

stack.append(5) # push
stack.append(3)
stack.append(7)
stack

[5, 3, 7]

In [70]:
top = stack.pop()
top

7

In [71]:
stack

[5, 3]

In [72]:
stack.pop()
top = stack.pop()
top

5

In [73]:
stack

[]

In [74]:
# using a list as a queue
queue = [] # initially empty
queue.append(5)
queue.append(3)
queue.append(7)

queue

[5, 3, 7]

In [75]:
front = queue.pop(0) # remove item 0, e.g. front of queue
front

5

In [76]:
queue

[3, 7]

In [77]:
queue.pop(0)
front = queue.pop(0)
front

7

In [78]:
queue

[]

# Dictionaries

Dictionaries are a high-level abstract data type that you may or may not
be familiar with, but which are extremely useful to learn how to use.

Dictionaries are also known as **maps**, **key-value pairs** or sometimes
as a **hash**.

## A dictionary is a mapping

A dictionary is like a list but more general.  In a list, the
integer index is a key that maps from the index to the value at the
index for that list.  In a list the indices have to be integers.

For the more general `dictionary`, a **key** can be any type, not just an integer.
Each key is associated with a single value, just like each integer index
is associated with a single value in a list.

However one difference, besides that the indexes can be arbitrary values, is
that since the keys don't necessarily have an inherent order, a dictionary is
not considered a sequence like a list.  

In python `{` and `}` squiggly braces are used to identify and define dictionaries.

In [79]:
# dictionary of birthdays
birthday = {'Newton': 1642, 
            'Darwin': 1809, 
            'Curie': 1867, 
            'Einstein': 1879, 
            'Harter': 1978}

In [80]:
# look up some birthdays
birthday['Newton']

1642

In [81]:
birthday['Einstein']

1879

If a key isn't in the dictionary you get an error, just like if you try and
access a list index that is not in the list

In [82]:
try:
    birthday['Hopper']
except KeyError:
    print('KeyError is generated here which means the key is not in the dictionary.')

KeyError is generated here which means the key is not in the dictionary.

The `len()` function works on dictionaries, so we can find out the number of 
key-value pairs in the dictionary using this.

In [83]:
len(birthday)

5

The `in` operator work on dictionaries too; it tell you whether something is 
a key of the dictionary or not.

In [84]:
'Harter' in birthday

True

In [85]:
'Einstein' in birthday

True

In [86]:
'Hopper' in birthday

False

## Dictionaries are mutable

Dictionaries are mutable, like lists.  In fact, we can easily add new
key-value pairs.

In [87]:
birthday['Hopper'] = 1912
birthday['Maxwell'] = 1875

birthday

{'Newton': 1642,
 'Darwin': 1809,
 'Curie': 1867,
 'Einstein': 1879,
 'Harter': 1978,
 'Hopper': 1912,
 'Maxwell': 1875}

In [88]:
len(birthday)

7

In [89]:
'Hopper' in birthday

True

## Dictionary methods

As with lists and strings, dictionaries are actuall objects with a set of 
member methods that can be called on an instance of a dictionary.

[Dictionary member methods](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict)

In [90]:
dir(birthday)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [91]:
birthday.keys()

dict_keys(['Newton', 'Darwin', 'Curie', 'Einstein', 'Harter', 'Hopper', 'Maxwell'])

In [92]:
birthday.values()

dict_values([1642, 1809, 1867, 1879, 1978, 1912, 1875])

In [93]:
# iterate over the birthday by keys.
# Keys are not guaranteed to come out in any particular order from the dictionary/hash
for key in birthday.keys():
    print(key, birthday[key])

Newton 1642
Darwin 1809
Curie 1867
Einstein 1879
Harter 1978
Hopper 1912
Maxwell 1875

In [94]:
# actually, the default iteration of a dictionary is by the key, so
# if you want to iterate over the keys, you can use more simply
for key in birthday:
    print(key, birthday[key])

Newton 1642
Darwin 1809
Curie 1867
Einstein 1879
Harter 1978
Hopper 1912
Maxwell 1875

In [95]:
# we can iterate over the keys in an order, for example we could get the keys and
# sort them, then iterate over them
for key in sorted(birthday.keys()):
    print(key, birthday[key])

Curie 1867
Darwin 1809
Einstein 1879
Harter 1978
Hopper 1912
Maxwell 1875
Newton 1642

In [96]:
# items returns the key,value pairs together
for key, value in birthday.items():
    print(key, value)

Newton 1642
Darwin 1809
Curie 1867
Einstein 1879
Harter 1978
Hopper 1912
Maxwell 1875

## Dictionaries to count values

A common operation for data exploration is to get frequency counts of the types
and number of values of some data item.  Dictionaries are well suited for this 
task.

For example, lets say you need to determine the count of the characters in
a string.  We can use a dictionary and the `get()` method to do this easily.

In [97]:
text = """
Just some random text we want to count character frequencies of.

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
incididunt ut labore et dolore magna aliqua. Ipsum consequat nisl vel pretium 
lectus quam. Id leo in vitae turpis massa sed. Hendrerit gravida rutrum quisque 
non tellus orci ac auctor augue. Maecenas volutpat blandit aliquam etiam. Nibh 
cras pulvinar mattis nunc sed blandit libero volutpat sed. At erat pellentesque 
adipiscing commodo elit at imperdiet dui. Urna nec tincidunt praesent semper 
feugiat nibh sed. Sed pulvinar proin gravida hendrerit. Enim neque volutpat ac 
tincidunt vitae semper quis lectus nulla. Aenean pharetra magna ac placerat 
vestibulum lectus mauris. Hendrerit dolor magna eget est. Sapien et ligula 
ullamcorper malesuada proin libero nunc consequat.

Integer malesuada nunc vel risus commodo viverra. Vestibulum morbi blandit 
cursus risus at. Eleifend quam adipiscing vitae proin. Vulputate ut pharetra 
sit amet aliquam id. Neque ornare aenean euismod elementum. Et egestas quis 
ipsum suspendisse ultrices gravida dictum fusce ut. Enim sit amet venenatis 
urna. Morbi quis commodo odio aenean sed adipiscing. Justo nec ultrices dui 
sapien eget mi proin. Euismod in pellentesque massa placerat duis ultricies 
lacus sed turpis. Adipiscing bibendum est ultricies integer quis auctor. Vehicula 
ipsum a arcu cursus vitae congue mauris rhoncus. Facilisis volutpat est velit 
egestas dui id ornare arcu odio. Duis at consectetur lorem donec massa sapien 
faucibus et. Placerat in egestas erat imperdiet sed euismod nisi porta lorem.
"""

In [98]:
def character_frequency(text):
    frequencies = {} # keep frequency counts in a dictionary
    
    # iterate over the given text
    for char in text:
        count = frequencies.get(char, 0) # get current count or 0 if haven't seen yet
        count += 1 # increment count by 1
        frequencies[char] = count # update dictionary
        
    # return the dictionary result
    return frequencies

In [99]:
# get the character count/frequencies
freq = character_frequency(text)

# get the key/value pairs so we can sort by the value frequency counts
table = list(freq.items())

# sort the table.  We provide a custom sort function using a lambda function
# The lambda function essentially says for each item in table, sort by the
# second item at index 1, thus we sort by the frequency value 
table.sort(key=lambda key_value: key_value[1], reverse=True)

table

[(' ', 235),
 ('e', 150),
 ('i', 126),
 ('a', 118),
 ('t', 106),
 ('u', 102),
 ('s', 101),
 ('r', 82),
 ('n', 82),
 ('o', 63),
 ('l', 59),
 ('c', 58),
 ('d', 57),
 ('m', 56),
 ('p', 41),
 ('.', 29),
 ('\n', 24),
 ('g', 22),
 ('v', 20),
 ('q', 18),
 ('b', 15),
 ('h', 8),
 ('f', 6),
 ('E', 5),
 ('I', 3),
 ('A', 3),
 ('V', 3),
 ('J', 2),
 ('w', 2),
 (',', 2),
 ('H', 2),
 ('M', 2),
 ('N', 2),
 ('S', 2),
 ('x', 1),
 ('L', 1),
 ('U', 1),
 ('F', 1),
 ('D', 1),
 ('P', 1)]

# Tuples

A **tuple** is a sequence of values.  So a tuple is basically a list.
However, you cannot modify a tuple once created, unlike a list.

## Tuples are immutable

A tuple is a sequence of values of any time.  You can index the values
by an integer, and slice the tuple like a list.

However, tuples are immutable.  Why do we need an immutable list/sequence type
in Python?  Read on to find out.

Syntatically you can create a tuple as a list of comma separated
values.  Also, it actually is not necessary in Python syntatically, but
many people indicate tuple lists by enclosing them in `(` and `)` (unlike
a list where the square `[` and `]` are used and are actually necessary
syntatically).

So we can create a tuple like:

In [100]:
t1 = 'hello', 3, 3.14159, False, 42.42

And although it is not necessary, you will commonly see the same tuple declared
like

In [101]:
t2 = ('hello', 3, 3.14159, False, 42.42)

Most list operators (sequence operators) work on a tuple

In [102]:
t2[0]

'hello'

In [103]:
t2[1:3]

(3, 3.14159)

In [104]:
t1[-1]

42.42

In [105]:
for t in t2:
    print(t)

hello
3
3.14159
False
42.42

But if you try to modify one of the elements of a tuple you get an error

In [106]:
try:
    t2[0] = 'goodbye'
except TypeError:
    print('TypeError generated becasue tuple object does not support item assignment.')

TypeError generated becasue tuple object does not support item assignment.

For a similar reason, methods like `append()` and `pop()` are not defined
for a tuple object as they would modify the tuple.

Also as this may be useful for this class in places, the relational operators
work with tuples (and other sequences as well).  Python starts by comparing the
first element from each sequence.  If they are equal, it goes on to the next sequence.

So our 2 tuples should evaluate as equal

In [107]:
t1 == t2

True

Or generally, the first value that differs in the tuple will determine 
the boolean relation.

In [108]:
(1, 2, 3) < (1, 2, 4)

True

In [109]:
(1, 2, 3) < (1, 2, 2)

False

## Tuple assignment

Tuples can assign individual elements to one another in an
assignment.  This type of assignment between variables and items
in a tuple is used extensively in Python and in the libraries we use
for this class.  For example:

In [110]:
begin, end = 1, 100
print(begin)
print(end)

1
100

In [111]:
(name, age, salary, attributes) = ('Derek', 42, 10.00, {'height': 67, 'weight': 165})

print(name)
print(attributes['height'])

Derek
67

In [112]:
# kind of a trick, but we can use tuple assignment to perform an in place swap of 
# values
a, b = 42, 13

# do the swap
a, b = b, a

print(a)
print(b)

13
42

## Tuples as return values

Probably the most common use of this kind of tuple assignment is to handle the
return values from a function.

Strictly speaking, a function cn only return one value.  But if you want a 
function to return a list of values in Python, you can instead return a
tuple (or a list), and thus you are returning only 1 "thing", but the container
contains multiple values.  

This is used extensively by library funciton to return multiple results back to
the caller of functions.  

As a quick example, the built in `divmod()` function, that we have looked at before,
actually returns a tuple result.  It returns the result of the division, followed
by the remainder.  We can assign both return values into a single tuple.

In [113]:
# 7 / 3 = 2 with a remainder of 1
res = divmod(7, 3)
res

(2, 1)

Or instead, we can pick out the individual elements returned and assign them into
more useful variable names as a result of calling the function.

In [114]:
quotient, remainder = divmod(7,3)
print('result of dividiong 7 by 3: ', quotient)
print('remainder from the division: ', remainder)

result of dividiong 7 by 3:  2
remainder from the division:  1

You can return multiple values from your own function by returning a tuple
list.  For example, here is a function that returns the min and max values
from a list of values given to it.

In [115]:
def min_max(l):
    """Given a list of values, return the min,max tuple of the minmum and 
    maximum values in the list.
    """
    return min(l), max(l)

In [116]:
# a list of integer values
l = [5, 3, 9, 2, 7, 6, 1, 8]

# call the list, get the tuple result
min_val, max_val = min_max(l)

print('minimum value in list:', min_val)
print('maximum value in list:', max_val)

minimum value in list: 1
maximum value in list: 9

## Lists and tuples

`zip()` is a built-in function that takes two or more sequences and
interleaves them. 

For example, `zip()` takes 2 tuples or lists of the same size, and this allows
you to iterate over corresponding pairs of objects.

In [117]:
# a string is a sequence of characters, so it is "list" like
s = 'abcd'

# a tuple of 4 items
t = (1, 2, 3, 4)

for pair in zip(s, t):
    print(pair)

('a', 1)
('b', 2)
('c', 3)
('d', 4)

In [118]:
# once again because of tuple assignment, we could extract the individual
# items of the pair while iterating over them
for char, value in zip(s, t):
    print(char, value)

a 1
b 2
c 3
d 4

You can turn the rusult of calling zip into a true list, you can create
sequences of corresponding elements.

Also, `zip` will actually work with 3 or more sequences, as long as all sequences
are of the same length.

In [119]:
names = ['alice', 'bob', 'carol']
ages = (42, 38, 29)
id = (1, 2, 3)

l = list(zip(id, names, ages))
l

[(1, 'alice', 42), (2, 'bob', 38), (3, 'carol', 29)]

If you combine `zip`, `for` and tuple assignment, you get a useful idiom
for traversing two (or more) equences at the same time.  For example, `has_match`
takes two sequences, `t1` and `t2`, and returns `True` if there is an index
i such that `t1[i] == t2[i]`.

In [120]:
def has_match(t1, t2):
    """Determine if any corresponding element of sequence t1 matches t2.  If
    we find a matching element, we return a True result.  Otherwise the answer
    is false.
    """
    for x, y in zip(t1, t2):
        if x == y:
            return True
    return False

In [121]:
has_match((1, 2, 3), (4, 5, 3))

True

In [122]:
has_match( (1, 2, 3), (4, 5, 6))

False

Finally, as we may have already mentioned, if you need to traverse the elements
of a sequence, like a list or tuple, and you also need the index of each
element, you should use a `for` loop and the `enumerate()` function.  `enumerate()`
basically zips a list of the integer indexes to the list, so  you can
get each element and its index when iterating the list.

In [123]:
for index, element in enumerate('abcdefg'):
    print(index, element)

0 a
1 b
2 c
3 d
4 e
5 f
6 g

## Dictionaries and tuples

Dictionaries have a method called `items()` that returns a sequence of 
tuples, where each tuple is a key-value pair.

In [124]:
d = {'a': 0, 'b': 1, 'c': 2}
t = d.items()
t

dict_items([('a', 0), ('b', 1), ('c', 2)])

In [125]:
for key, value in d.items():
    print(key, value)

a 0
b 1
c 2

Also it is common to use a tuple as a key for a complex dictionary.  One cannot
use lists because of their immutable nature.

For example, we might need a telephone dictionary that maps `('last', 'first')` 
names to their telephone number.

In [126]:
telephone_book = {
    ('Cleese', 'John'): '218-256-7918',
    ('Chapman', 'Graham'): '903-418-1938',
    ('Gilliam', 'Terry'): '817-763-8293',
    ('Palin', 'Michael'): '428-271-2939'
}

telephone_book['Gilliam', 'Terry']

'817-763-8293'

# Sets

Sets are another built-in type that can be very useful in
particular circumstances.  A set is an implementation of the
mathematical notion of a set.  So each unique value only appears one
time within the set.

We used a dictionary in a set like way, to count the occurrences of
letters in a text.  When a letter is encountered, we know if it is a letter
in the text or not depending on if it is a key in the dictionary.

To define a set do the following.

In [127]:
# an initially empty set
words = set()

In [128]:
# using our lorem ipsum text from the sectionary on dictionaries, this time
# split by words, and create a set of the unique words
# By default, split() splits by whitespace, so spaces, tabs, newlines
for word in text.split():
    words.add(word)

In [129]:
# the set of unique words
words

{'Adipiscing',
 'Aenean',
 'At',
 'Duis',
 'Eleifend',
 'Enim',
 'Et',
 'Euismod',
 'Facilisis',
 'Hendrerit',
 'Id',
 'Integer',
 'Ipsum',
 'Just',
 'Justo',
 'Lorem',
 'Maecenas',
 'Morbi',
 'Neque',
 'Nibh',
 'Placerat',
 'Sapien',
 'Sed',
 'Urna',
 'Vehicula',
 'Vestibulum',
 'Vulputate',
 'a',
 'ac',
 'adipiscing',
 'adipiscing.',
 'aenean',
 'aliqua.',
 'aliquam',
 'amet',
 'amet,',
 'arcu',
 'at',
 'at.',
 'auctor',
 'auctor.',
 'augue.',
 'bibendum',
 'blandit',
 'character',
 'commodo',
 'congue',
 'consectetur',
 'consequat',
 'consequat.',
 'count',
 'cras',
 'cursus',
 'dictum',
 'do',
 'dolor',
 'dolore',
 'donec',
 'dui',
 'dui.',
 'duis',
 'egestas',
 'eget',
 'eiusmod',
 'elementum.',
 'elit',
 'elit,',
 'erat',
 'est',
 'est.',
 'et',
 'et.',
 'etiam.',
 'euismod',
 'faucibus',
 'feugiat',
 'frequencies',
 'fusce',
 'gravida',
 'hendrerit.',
 'id',
 'id.',
 'imperdiet',
 'in',
 'incididunt',
 'integer',
 'ipsum',
 'labore',
 'lacus',
 'lectus',
 'leo',
 'libero',
 'ligula',
 'lorem',
 'lorem.',
 'magna',
 'malesuada',
 'massa',
 'mattis',
 'mauris',
 'mauris.',
 'mi',
 'morbi',
 'nec',
 'neque',
 'nibh',
 'nisi',
 'nisl',
 'non',
 'nulla.',
 'nunc',
 'odio',
 'odio.',
 'of.',
 'orci',
 'ornare',
 'pellentesque',
 'pharetra',
 'placerat',
 'porta',
 'praesent',
 'pretium',
 'proin',
 'proin.',
 'pulvinar',
 'quam',
 'quam.',
 'quis',
 'quisque',
 'random',
 'rhoncus.',
 'risus',
 'rutrum',
 'sapien',
 'sed',
 'sed.',
 'semper',
 'sit',
 'some',
 'suspendisse',
 'tellus',
 'tempor',
 'text',
 'tincidunt',
 'to',
 'turpis',
 'turpis.',
 'ullamcorper',
 'ultrices',
 'ultricies',
 'urna.',
 'ut',
 'ut.',
 'vel',
 'velit',
 'venenatis',
 'vestibulum',
 'vitae',
 'viverra.',
 'volutpat',
 'want',
 'we'}

We can check set membership using the `in` operator, difference using
the `difference()` method or the `-` operator, and set union using 
the `union()` or the `+` operator.

In [130]:
# set membership
'vel' in words

True

In [131]:
'velum' in words

False

In [132]:
# difference
s1 = set(['a', 'b', 'c', 'd'])
s2 = set(['b', 'c'])

s1 - s2

{'a', 'd'}

In [133]:
# the empty set
s2 - s1

set()

In [134]:
s2.add('e')
s2 - s1

{'e'}

In [135]:
# union, whoops I was wrong, `+` is not defined for union, seems like a missed
# opportunity there?
#s1 + s2
s1.union(s2)

{'a', 'b', 'c', 'd', 'e'}

# List comprehensions

List comprehensions are a relatively newer addition to the Python language.
On the one hand they can make you code more concise.  On the other hand 
they may make your code more concise, which may not be as readable?

In any case, you will probably see list comprehensions used more and more
frequently in many places.  Any (simple) loop can be turned into a 
list comprehension, and any list comprehension can be turned back into 
a more traditional for loop.

In [136]:
# function to capitalize all letters of a string s, using a traditiona loop
def capitalize_all_loop(s):
    """Capitalize all letters in the string s and return the (new)
    resulting string.
    """
    res = []
    for c in s:
        res.append(c.capitalize())
    return res

In [137]:
capitalize_all_loop("This is a string!  It has some upper, but mostly lower.")

['T',
 'H',
 'I',
 'S',
 ' ',
 'I',
 'S',
 ' ',
 'A',
 ' ',
 'S',
 'T',
 'R',
 'I',
 'N',
 'G',
 '!',
 ' ',
 ' ',
 'I',
 'T',
 ' ',
 'H',
 'A',
 'S',
 ' ',
 'S',
 'O',
 'M',
 'E',
 ' ',
 'U',
 'P',
 'P',
 'E',
 'R',
 ',',
 ' ',
 'B',
 'U',
 'T',
 ' ',
 'M',
 'O',
 'S',
 'T',
 'L',
 'Y',
 ' ',
 'L',
 'O',
 'W',
 'E',
 'R',
 '.']

Notice that the result is no a list instead of a string, which you may not
have been expecting.  How would you convert it back to a string?

To do the same thing using a list comprehension, we do the following.
Notice that `[` and `]` are defining a new list that we return, but inside of
the list comprehension, instead of a comma separated list of elements, we
have a function/code, and a for statement.  The for statement selects each c in
s, then `capitalize()` is called on each c, and the result of each of these is
appended to the list that is created and returned.

In [138]:
def capitalize_all_list(s):
    return [c.capitalize() for c in s]

In [139]:
capitalize_all_list("This is a string!  It has some upper, but mostly lower.")

['T',
 'H',
 'I',
 'S',
 ' ',
 'I',
 'S',
 ' ',
 'A',
 ' ',
 'S',
 'T',
 'R',
 'I',
 'N',
 'G',
 '!',
 ' ',
 ' ',
 'I',
 'T',
 ' ',
 'H',
 'A',
 'S',
 ' ',
 'S',
 'O',
 'M',
 'E',
 ' ',
 'U',
 'P',
 'P',
 'E',
 'R',
 ',',
 ' ',
 'B',
 'U',
 'T',
 ' ',
 'M',
 'O',
 'S',
 'T',
 'L',
 'Y',
 ' ',
 'L',
 'O',
 'W',
 'E',
 'R',
 '.']

List comprehensions can also be used for filtering.  For example this 
function selects only the elements of `s` that are upper case, and
returns a new list:

In [140]:
def only_upper_loop(s):
    """Select only the upper case letters of string s, and put them into a new
    list that we return to the caller.
    """
    res = []
    for c in s:
        if c.isupper():
            res.append(c)
    return res

In [141]:
only_upper_loop("This is a string!  It has some uPPER, but mostly lower.")

['T', 'I', 'P', 'P', 'E', 'R']

The equivalant filter as a list comprehension

In [142]:
def only_upper_list(s):
    return [c for c in s if c.isupper()]

In [143]:
only_upper_list("This is a string!  It has some uPPER, but mostly lower.")

['T', 'I', 'P', 'P', 'E', 'R']