Pandas
======

Pandas (Python Data Analysis Library)is another a Python library whose purpose is to allow one to do statistical data analysis easily in Python.  Pandas adds a new fundamental data type, the DataFrame to the Python language.  The DataFrame is inspired by the same data type from the R statistical analysis programming envrionment.  DataFrames give us easy ways to load and massage a large data set of values.  The rest of the Pandas library adds methods to do various complex statistical analysis on the data.  Pandas is inspired by, and meant to replace functions
one would do in R with pure Python.  Though a relatively new library, Pandas has quickly matured.  It still does not cover some of the more complex analysis you could do with R, but for many people it will have everything they need already.  Plus it is written in Python to boot, meaning one can avoid the somewhat unintuitive implementation that R provides.  Pandas is also being designed with an eye towards computational performance.  It is already as good, if not often better than R performance wise on very large data sets.

References
----------

* [Pandas web site](http://pandas.pydata.org/)
* [Python for Data Analysis](http://www.amazon.com/Python-Data-Analysis-Wes-McKinney/dp/1449319793/ref=sr_1_1?ie=UTF8&qid=1377800910&sr=8-1&keywords=python+for+data+analysis) by Wes McKinney, 2012. (developer of Pandas)

In [1]:
import numpy as np
import pandas as pd

Important Features in pandas
============================

Loading Data from delimited text files
--------------------------------------

A simple yet very common data format used by scientists are plain text files, with a delimiter of some kind between each data item.  This basically arranges the data as a table.  By convention, each row of the table represents one observation, or data point.  And each column of the table represents a feature or dimension that was measured or observed.  A common delimiter between each feature is to use a comma ',', though you will see files that use a blank space ' ', a tab '\\t' or sometimes something else to delimit fields.  Pandas allows you to easily load even very large plain text delimited files for analysls.

Here is an example of a comma separated data file (from [Luis Zaman's](http://research.luiszaman.com/) digital parasite data set):

In [2]:
!head ../data/parasite_data.csv

Virulence,Replicate,ShannonDiversity
0.5,1,0.0592619
0.5,2,1.0936
0.5,3,1.13939
0.5,4,0.547651
0.5,5,0.0659277
0.5,6,1.34433
0.5,7,1.68048
0.5,8,0
0.5,9,2.04768

In [3]:
!tail ../data/parasite_data.csv

 ,41,0
 ,42,0
 ,43,0
 ,44,0
 ,45,0.391061
 ,46,0.00166884
 ,47,0
 ,48,0.444463
 ,49,0.383512
 ,50,0.511329

Notice that some of the rows at the end have a blank space in the first column.  We will pass pandas a parameter to tell it how to treat these values.

In [4]:
exp_df = pd.read_csv("../data/parasite_data.csv", na_values=[" "])

In [5]:
print(exp_df)

     Virulence  Replicate  ShannonDiversity
0          0.5          1          0.059262
1          0.5          2          1.093600
2          0.5          3          1.139390
3          0.5          4          0.547651
4          0.5          5          0.065928
..         ...        ...               ...
345        NaN         46          0.001669
346        NaN         47          0.000000
347        NaN         48          0.444463
348        NaN         49          0.383512
349        NaN         50          0.511329

[350 rows x 3 columns]

Notice that pandas automatically names the column features, using the 1st line from the data file (known as the header).  Notice also that the first feature, Virulance, is missing 50 values (it had 300 non-null values, while the other features had 350 values.

Accessing data in pandas DataFrames
-----------------------------------

We can directly access any column and row by indexing the DataFrame (kinda like a dictionary):

In [6]:
print(exp_df['Virulence'])

0      0.5
1      0.5
2      0.5
3      0.5
4      0.5
      ...
345    NaN
346    NaN
347    NaN
348    NaN
349    NaN
Name: Virulence, Length: 350, dtype: float64

In [7]:
print(exp_df['ShannonDiversity'][12])

1.58981

We can also access all of the values in a column meeting a certain criteria:

In [8]:
print(exp_df[exp_df['ShannonDiversity'] > 2.0])

     Virulence  Replicate  ShannonDiversity
8          0.5          9           2.04768
89         0.6         40           2.01066
92         0.6         43           2.90081
96         0.6         47           2.02915
105        0.7          6           2.23427
117        0.7         18           2.14296
127        0.7         28           2.23599
129        0.7         30           2.48422
133        0.7         34           2.18506
134        0.7         35           2.42177
139        0.7         40           2.25737
142        0.7         43           2.07258
148        0.7         49           2.38326
151        0.8          2           2.07970
153        0.8          4           2.38474
163        0.8         14           2.03252
165        0.8         16           2.38415
170        0.8         21           2.02297
172        0.8         23           2.13882
173        0.8         24           2.53339
182        0.8         33           2.17865
196        0.8         47           2.07718
208        0.9          9           2.12240
209        0.9         10           2.46144
212        0.9         13           2.20476
229        0.9         30           2.28026
235        0.9         36           2.19565
237        0.9         38           2.16535
243        0.9         44           2.17578
251        1.0          2           2.16044

NumPy use of pandas DataFrame data
----------------------------------

Another powerful feature of the pandas DataFrame is that they are fully integrated with NumPy.

In [9]:
np.sort(exp_df['ShannonDiversity'])

array([0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 1.66884e-03,
       1.74899e-03, 3.48978e-03, 5.80162e-03, 5.96288e-03, 6.37735e-03,
       6.98024e-03, 8.29361e-03, 1.34949e-02, 1.88665e-02, 2.10908e-02,
       4.54712e-02, 5.23720e-02, 5.68192e-02, 5.91347e-02, 5.92619e-02,
       6.14139e-02, 6.59277e-02, 1.15830e-01, 1.24755e-01, 1.34478e-01,
       1.59017e-01, 1.69556e-01, 1.86966e-01, 2.40084e-01, 2.69136e-01,
       2.71429e-01, 2.88455e-01, 2.93153e-01, 2.96054e-01, 3.10170e-01,
       3.16439e-01, 3.21375e-01, 3.41714e-01, 3.43235e-01, 3.45177e-01,
       3.48283e-01, 3.74074e-01, 3.83512e-01, 3.91061e-01, 3.92939e-01,
       4.16046e-01, 4.21927e-01, 4.44463e-01, 4.45267e-01, 4.57318e-01,
       4.60192e-01, 5.11329e-01, 5.19065e-01, 5.47157e-01, 5.47651e-01,
       5.51367e-01, 5.68674e-01, 5.84252e-01, 5.97295e-01, 6.14147e-01,
       6.17618e-01, 6.44337e-01, 6.55764e-01, 6.69810e-01, 6.87150e-01,
       6.93356e-01, 6.97241e-01, 7.13224e-01, 7.16393e-01, 7.19755e-01,
       7.21134e-01, 7.38403e-01, 7.57638e-01, 7.64003e-01, 7.76665e-01,
       7.87591e-01, 7.90915e-01, 8.12238e-01, 8.20405e-01, 8.33645e-01,
       8.57742e-01, 8.75816e-01, 8.82519e-01, 8.84122e-01, 8.87569e-01,
       8.90169e-01, 8.92139e-01, 8.92717e-01, 9.04773e-01, 9.09254e-01,
       9.25913e-01, 9.32470e-01, 9.35883e-01, 9.38018e-01, 9.48393e-01,
       9.49750e-01, 9.54747e-01, 9.57757e-01, 9.58280e-01, 9.60891e-01,
       9.60912e-01, 9.67537e-01, 9.68258e-01, 9.69003e-01, 9.71351e-01,
       9.79254e-01, 9.80076e-01, 9.80876e-01, 9.86830e-01, 9.90309e-01,
       9.90460e-01, 9.92335e-01, 9.92525e-01, 9.94268e-01, 9.95956e-01,
       9.97556e-01, 9.98377e-01, 9.98564e-01, 9.99456e-01, 9.99556e-01,
       9.99703e-01, 9.99802e-01, 1.00134e+00, 1.00348e+00, 1.00485e+00,
       1.00513e+00, 1.00697e+00, 1.01119e+00, 1.01170e+00, 1.02233e+00,
       1.03500e+00, 1.03693e+00, 1.04260e+00, 1.07258e+00, 1.08938e+00,
       1.09360e+00, 1.09448e+00, 1.11849e+00, 1.12732e+00, 1.13910e+00,
       1.13939e+00, 1.14480e+00, 1.15291e+00, 1.15410e+00, 1.15516e+00,
       1.17992e+00, 1.18013e+00, 1.19045e+00, 1.21234e+00, 1.23889e+00,
       1.26228e+00, 1.27023e+00, 1.28415e+00, 1.29282e+00, 1.32344e+00,
       1.32732e+00, 1.34433e+00, 1.35093e+00, 1.39485e+00, 1.41973e+00,
       1.42847e+00, 1.43380e+00, 1.49551e+00, 1.50664e+00, 1.50714e+00,
       1.51456e+00, 1.52632e+00, 1.53615e+00, 1.55725e+00, 1.56022e+00,
       1.56433e+00, 1.56641e+00, 1.56984e+00, 1.57031e+00, 1.57826e+00,
       1.58125e+00, 1.58325e+00, 1.58390e+00, 1.58430e+00, 1.58458e+00,
       1.58981e+00, 1.59544e+00, 1.63300e+00, 1.65168e+00, 1.66055e+00,
       1.68048e+00, 1.69960e+00, 1.70044e+00, 1.70272e+00, 1.71120e+00,
       1.71595e+00, 1.72521e+00, 1.72962e+00, 1.73888e+00, 1.74604e+00,
       1.76120e+00, 1.76133e+00, 1.78104e+00, 1.78771e+00, 1.79058e+00,
       1.79258e+00, 1.81450e+00, 1.82014e+00, 1.82487e+00, 1.83399e+00,
       1.83625e+00, 1.85485e+00, 1.85963e+00, 1.87038e+00, 1.87913e+00,
       1.88554e+00, 1.89840e+00, 1.90202e+00, 1.92080e+00, 1.92279e+00,
       1.93562e+00, 1.93793e+00, 1.95026e+00, 1.95902e+00, 1.96167e+00,
       1.97176e+00, 1.97185e+00, 1.98001e+00, 1.98161e+00, 1.99090e+00,
       2.01066e+00, 2.02297e+00, 2.02915e+00, 2.03252e+00, 2.04768e+00,
       2.07258e+00, 2.07718e+00, 2.07970e+00, 2.12240e+00, 2.13882e+00,
       2.14296e+00, 2.16044e+00, 2.16535e+00, 2.17578e+00, 2.17865e+00,
       2.18506e+00, 2.19565e+00, 2.20476e+00, 2.23427e+00, 2.23599e+00,
       2.25737e+00, 2.28026e+00, 2.38326e+00, 2.38415e+00, 2.38474e+00,
       2.42177e+00, 2.46144e+00, 2.48422e+00, 2.53339e+00, 2.90081e+00])

Blank/Omitted data
==================

One of the toughest preprocessing steps that is needed in analyzing a real data step is trying to identify and figure out how to handle missing data.  Pandas gives great support for identifying and specifying how to handle these missing values.

In [10]:
print(exp_df[np.isnan(exp_df['Virulence'])])

     Virulence  Replicate  ShannonDiversity
300        NaN          1          0.000000
301        NaN          2          0.000000
302        NaN          3          0.833645
303        NaN          4          0.000000
304        NaN          5          0.990309
305        NaN          6          0.000000
306        NaN          7          0.000000
307        NaN          8          0.000000
308        NaN          9          0.061414
309        NaN         10          0.316439
310        NaN         11          0.904773
311        NaN         12          0.884122
312        NaN         13          0.000000
313        NaN         14          0.000000
314        NaN         15          0.000000
315        NaN         16          0.000000
316        NaN         17          0.013495
317        NaN         18          0.882519
318        NaN         19          0.000000
319        NaN         20          0.986830
320        NaN         21          0.000000
321        NaN         22          0.000000
322        NaN         23          0.000000
323        NaN         24          0.000000
324        NaN         25          0.000000
325        NaN         26          0.000000
326        NaN         27          1.702720
327        NaN         28          0.169556
328        NaN         29          0.949750
329        NaN         30          0.240084
330        NaN         31          0.925913
331        NaN         32          0.000000
332        NaN         33          0.693356
333        NaN         34          0.000000
334        NaN         35          0.310170
335        NaN         36          0.000000
336        NaN         37          0.000000
337        NaN         38          0.000000
338        NaN         39          0.000000
339        NaN         40          0.000000
340        NaN         41          0.000000
341        NaN         42          0.000000
342        NaN         43          0.000000
343        NaN         44          0.000000
344        NaN         45          0.391061
345        NaN         46          0.001669
346        NaN         47          0.000000
347        NaN         48          0.444463
348        NaN         49          0.383512
349        NaN         50          0.511329

DataFrame methods automatically ignore NA/NaN values (which is usually the right thing to do).

In [11]:
print("Mean virulence across all treatments:", exp_df['Virulence'].mean())

Mean virulence across all treatments: 0.7500000000000013

Although we can filter out NA/NaN values if we need to, to for example pass to other libraries that don't handle these so well.  Notice that the following has dropped those 50 rows that had null Virulence values.

In [12]:
print(exp_df.dropna())

     Virulence  Replicate  ShannonDiversity
0          0.5          1          0.059262
1          0.5          2          1.093600
2          0.5          3          1.139390
3          0.5          4          0.547651
4          0.5          5          0.065928
..         ...        ...               ...
295        1.0         46          0.644337
296        1.0         47          0.875816
297        1.0         48          0.000000
298        1.0         49          0.000000
299        1.0         50          0.000000

[300 rows x 3 columns]

Or if needed, we can instead replace all NA/NaN entries with a valid (default) value.

In [13]:
print(exp_df.fillna(0.0)['Virulence'])

0      0.5
1      0.5
2      0.5
3      0.5
4      0.5
      ...
345    0.0
346    0.0
347    0.0
348    0.0
349    0.0
Name: Virulence, Length: 350, dtype: float64

Some Simple Summary Statistics with Pandas
------------------------------------------

Lets look at some very simple summary statistics with pandas.  Conveniently DataFrames have all kinds of built-in functions to perform standard operations on them en masse: add() sub() mul() div() mean() std() etc.

In [14]:
print("Mean Shannon Diversity w/ 0.8 Parasite Virulence = ", exp_df[exp_df['Virulence'] == 0.8]['ShannonDiversity'].mean())
print("Variance Shannon Diversity w/ 0.8 Parasite Virulence = ", exp_df[exp_df['Virulence'] == 0.8]['ShannonDiversity'].var())

Mean Shannon Diversity w/ 0.8 Parasite Virulence =  1.2691338187999996
Variance Shannon Diversity w/ 0.8 Parasite Virulence =  0.6110384333126732

Some More Examples
------------------

The following are more examples of how you can manipulate pandas DataFrames (taken from the pandas [10-minute tutorial](http://pandas.pydata.org/pandas-docs/stable/10min.html))

In [15]:
dates = pd.date_range('20130101', periods=6)
print(dates)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
print(df)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
                   A         B         C         D
2013-01-01 -0.257364 -0.759887 -0.294462  0.183951
2013-01-02 -1.452367 -0.273756  0.100101  0.035399
2013-01-03  2.029214 -0.346175  0.081578  1.006600
2013-01-04  0.882673  0.825550  0.445127  0.410911
2013-01-05 -1.065663 -0.281094 -1.721763 -0.289157
2013-01-06  1.439218  0.258741  1.572328  0.316548

In [16]:
df2 = pd.DataFrame({'A': 1.0,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=range(4), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': 'foo'})
df2

     A          B    C  D    E
0  1.0 2013-01-02  1.0  3  foo
1  1.0 2013-01-02  1.0  3  foo
2  1.0 2013-01-02  1.0  3  foo
3  1.0 2013-01-02  1.0  3  foo

In [17]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E            object
dtype: object

In [18]:
df.head()

                   A         B         C         D
2013-01-01 -0.257364 -0.759887 -0.294462  0.183951
2013-01-02 -1.452367 -0.273756  0.100101  0.035399
2013-01-03  2.029214 -0.346175  0.081578  1.006600
2013-01-04  0.882673  0.825550  0.445127  0.410911
2013-01-05 -1.065663 -0.281094 -1.721763 -0.289157

In [19]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.882673  0.825550  0.445127  0.410911
2013-01-05 -1.065663 -0.281094 -1.721763 -0.289157
2013-01-06  1.439218  0.258741  1.572328  0.316548

In [20]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [21]:
df.values # notice, the easiest way to turn whole pandas DataFrame into a NumPy array with same rows/columns

array([[-0.25736379, -0.75988726, -0.294462  ,  0.18395092],
       [-1.45236673, -0.27375644,  0.10010088,  0.03539904],
       [ 2.02921389, -0.34617495,  0.08157777,  1.00659974],
       [ 0.88267262,  0.82555031,  0.44512749,  0.41091052],
       [-1.0656628 , -0.28109414, -1.7217632 , -0.28915732],
       [ 1.43921811,  0.25874095,  1.57232824,  0.31654841]])

Describe shows a quick statistics summary of your data:

In [22]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.262619 -0.096104  0.030485  0.277375
std    1.404678  0.555749  1.070760  0.433445
min   -1.452367 -0.759887 -1.721763 -0.289157
25%   -0.863588 -0.329905 -0.200452  0.072537
50%    0.312654 -0.277425  0.090839  0.250250
75%    1.300082  0.125617  0.358871  0.387320
max    2.029214  0.825550  1.572328  1.006600

Sort data by values of some column

In [23]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-01 -0.257364 -0.759887 -0.294462  0.183951
2013-01-03  2.029214 -0.346175  0.081578  1.006600
2013-01-05 -1.065663 -0.281094 -1.721763 -0.289157
2013-01-02 -1.452367 -0.273756  0.100101  0.035399
2013-01-06  1.439218  0.258741  1.572328  0.316548
2013-01-04  0.882673  0.825550  0.445127  0.410911

Select a single column, which yields a Series, equivalent to df.A

In [24]:
df['A']

2013-01-01   -0.257364
2013-01-02   -1.452367
2013-01-03    2.029214
2013-01-04    0.882673
2013-01-05   -1.065663
2013-01-06    1.439218
Freq: D, Name: A, dtype: float64

Copy a column values into a NumPy array, for passing to a library for example:

In [25]:
col_A = df['A'].values
print(col_A)
print(type(col_A))

[-0.25736379 -1.45236673  2.02921389  0.88267262 -1.0656628   1.43921811]
<class 'numpy.ndarray'>

Select rows of a DataFrame using slices.

In [26]:
print(df[1:3])
print(df['20130103':'20130105'])

                   A         B         C         D
2013-01-02 -1.452367 -0.273756  0.100101  0.035399
2013-01-03  2.029214 -0.346175  0.081578  1.006600
                   A         B         C         D
2013-01-03  2.029214 -0.346175  0.081578  1.006600
2013-01-04  0.882673  0.825550  0.445127  0.410911
2013-01-05 -1.065663 -0.281094 -1.721763 -0.289157

Selecting multiple columns.  Unfortunately

In [27]:
df.loc[:,['A','B']]

                   A         B
2013-01-01 -0.257364 -0.759887
2013-01-02 -1.452367 -0.273756
2013-01-03  2.029214 -0.346175
2013-01-04  0.882673  0.825550
2013-01-05 -1.065663 -0.281094
2013-01-06  1.439218  0.258741

Getting particular columns and particular rows

In [28]:
df.loc['20130104':'20130106', ['C', 'A']]

                   C         A
2013-01-04  0.445127  0.882673
2013-01-05 -1.721763 -1.065663
2013-01-06  1.572328  1.439218

Selecting only particular rows by some condition.

In [29]:
df[df.A > 0]

                   A         B         C         D
2013-01-03  2.029214 -0.346175  0.081578  1.006600
2013-01-04  0.882673  0.825550  0.445127  0.410911
2013-01-06  1.439218  0.258741  1.572328  0.316548

# Versions

In [30]:
import sys
sys.path.append("../src") # add our class modules to the system PYTHON_PATH

from ml_python_class.custom_funcs import version_information
version_information()

              Module   Versions
--------------------   ------------------------------------------------------------
              numpy:   ['1.18.5']
             pandas:   ['1.0.5']